body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  padding: 30px;
}

a {
  padding: 10px;
  color: blue;
  font-weight: 300;
  text-decoration: none;
}

main {
  padding: 10px;
}
