body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

main {
  padding: 50px;
}

.yellow {
  color: #ecb740;
}

form {
  border: 1px solid #666;
  display: flex;
  padding: 10px;
  margin-top: 20px;
}
form input {
  border: transparent;
}
form input[type="text"] {
  width: 100%;
  outline: none;
}
form button {
  background: transparent;
  border: transparent;
}

.my-shopping-list {
  padding: 0;
  margin: 20px 0 0;
}
.my-shopping-list li {
  background: #fef6e2;
  display: block;
  display: flex;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  align-items: center;
}
.my-shopping-list li button {
  margin-left: auto;
  border: transparent;
  background: #ecb740;
  color: black;
  border-radius: 3px;
  padding: 5px;
}
.my-shopping-list li button:hover {
  background: #fec23f;
  cursor: pointer;
}

.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #ccc;
}

.nav .nav-content {
  display: flex;
  padding: 20px 50px;
  align-items: center;
}

.nav .nav-content button {
  margin-left: auto;
  background: #f3b635;
  border-radius: 10px;
  border: transparent;
  padding: 10px;
  color: #fff;
  font-weight: bold;
}
